<% layout("/layouts/boilerplate") %>

<body>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Login for Task management</h1>
    <div class="col-6 offset-3">
       
        <form action="/login" method="post" >
            <div >
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" class="form-control inplab " required>

            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" class="form-control inplab " required>

            </div>

            <button class="btn btn-success mt-5 offset-5">Login</button>




        </form>
        <a href="/auth/google"><button >Login with google</button></a> 
        </div>
    </div>
</body>