<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
   
    <title>Document</title>
</head>
<body>


    <form method="post" action="/task/add" >


         <label for="task">Task Number</label><br><br>
        <input id="task" name="task" required>

        <br><br><br>
        <label for="des">description</label>
        <br><br>
        <input   id="des" name="description" required>
        <br><br><br>
        <button type="submit">Submit</button>
        


    </form>
    

</body>
</html>